1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [4]:
test1 = 'This is a test of the emergency text system'
file_obj = open('test.txt','w')
file_obj.write(test1)

43

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [5]:
file_obj = open('test.txt','r')
print(file_obj.read())

This is a test of the emergency text system

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [18]:
import csv
filename = 'books.csv'

cols = ['title','author','year']

rows = [['The Weirdstone of Brisingamen','Alan Garner',1960],
['Perdido Street Station','China Miéville',2000],
['Thud!','Terry Pratchett',2005],
['The Spellman Files','Lisa Lutz',2007],
['Small Gods','Terry Pratchett',1992]]

with open(filename,'w') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(cols)
    csvwriter.writerows(rows)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [43]:
import sqlite3
conn = sqlite3.connect('books.db')
print("Database connected successfully")
conn.execute('''create table if not exists books
            (title varchar(20),
            author varchar(20),
            year int);
            ''')
print("Table create successfully")
#onn.close()

Database connected successfully
Table create successfully

5. Read books.csv and insert its data into the book table.

In [44]:
df = pd.read_csv('books.csv',encoding='latin')
df.head(2)
df.to_sql('books',conn,if_exists='append',index =False)

5

6. Select and print the title column from the book table in alphabetical order.

In [47]:
cursor = conn.execute('select title from books order by title')
print(cursor.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [55]:
cursor = conn.execute('select * from books order by year')
df1 = pd.DataFrame(cursor.fetchall(),columns=['title','author','year'])
df1.head()

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [59]:
import sqlalchemy
dbEngine=sqlalchemy.create_engine('sqlite:///books.db')  
values = dbEngine.execute('select * from books')
print(pd.DataFrame(values.fetchall()))

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [60]:
!pip install redis

Collecting redis
  Downloading redis-4.5.4-py3-none-any.whl (238 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.4

WARNING: Ignoring invalid distribution -tatsmodels (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\abc\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\abc\anaconda3\lib\site-packages)

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{'count' :1,'name':'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count',2)